/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.frame {
	margin: 0 70px;
}

/* Headings */
h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

/* Body paragraphs*/
p {
	font-size: 15px;
}

.first_p {
	padding-top: 30px;
	padding-bottom: 40px;
	border-bottom: 2px solid black;
}

/* Navigation Styling*/

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 70px;
}

nav a {	
	color: grey;
	text-decoration: none;
}

.middle a {
  background: white;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  text-decoration: none;
}

}
/* Page Structure */

.middle {
	display: flex;
	flex-direction: column;
}

.line1 {
	display: flex;	
}

.line2 {
	display: flex;
}

.line3 {
	display: flex;
}

section {
	padding: 20px;
	border: 1px solid black;
}

.left1 {
	height: 250px;
	margin-top: 4%;
	margin-right: 2%;
	background: lightgray;
}

.left2 {
	height: 250px;
	margin-top: 4%;
	margin-right: 2%;
	background: lightgray;
}

.left3 {
	height: 250px;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-right: 2%;
	background: lightgray;
}

.right1 {
	height: 250px;
	margin-top: 4%;
	margin-left: 2%;
	background: lightgray;
} 

.right2 {
	height: 250px;
	margin-top: 4%;
	margin-left: 2%;
	background: lightgray;
} 

.right3 {
	height: 250px;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 2%;
	background: lightgray;
} 

.space1 {
	padding-bottom: 30px;
}

.space2 {
	padding-bottom: 30px;
}

.space3 {
	padding-bottom: 30px;
}

.space4 {
	padding-bottom: 30px;
}
.space5 {
	padding-bottom: 30px;
}

.space6 {
	padding-bottom: 30px;
}

/*Image Formatting*/
header img {
	width: 100%;
}
/*Footer Section*/
.bottom {
	display: flex;
	margin-top: 4%;
	padding-top: 50px;
	border-top: 2px solid black;
}

.b1 {
	margin-right: 4%;
}

ul {
	margin-left: 20px;
}

li {
	padding: 10px;
}

.b2 {
	margin-left: 4%;
}
.copyright {
	padding: 20px 0;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
